 *{
     padding: 0;
     margin:0 ;
     box-sizing: border-box;
 }
 .box{
     display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
   
 }
.box div img{
    height: 45rem;
    width: 45rem;
    border-left: 50px solid rgb(230, 194, 126);

  
}
.qoral{
 padding: 30px;
  align-items: center;
 
   
}
.qoral h3{
margin: 20px;
font-size: 40px;
font-weight: 100px;

}
.qoral h2{
font-size: 40px;
}
